<aside class="friend-aside is-pulled-left" >
  <%= render 'shared/freq_aside' %>
  <%= render 'shared/friend_aside' %>
</aside>
<div class="main-body container">
  <div class="dash-item">
    <h1>Dashboard#home</h1>
    <p>Find me in app/views/dashboard/home.html.erb</p>
  </div>
  <div class="dash-item">
    <%= link_to "Create Post!", root_path, class: "button" %>

  </div>
  <div class="dash-item">
    <%= link_to "Create Post!", root_path, class: "button" %>

  </div>
  <div class="dash-item">
    <%= link_to "Create Post!", root_path, class: "button" %>

  </div>
</div>

