<% if logged_in? %>

  <% if @current_user.passive_freqs.any? %>
    <p class="">
    Friend requests to you:
    </p>
  <% end %>

  <% @current_user.passive_freqs.where(status: :sent).each do |freq| %>
    <div class="">
      <p><%= freq.user.name %></p>
      <p><%= freq.request_message %></p>
      <p><%= freq.status %></p>

      <%= link_to "Accept friend", accept_freq_path(freq: freq),
        method: :post, class: "button is_link" %>
      <%= link_to "Deny friend", deny_freq_path(freq: freq),
        method: :post, class: "button is_link" %>
    </div>
  <% end %>
  <% if @current_user.active_freqs.any? %>
    <p class="">
    Friend requests from you:
    </p>
  <% end %>
  <% @current_user.active_freqs.where(status: :sent).each do |freq| %>
    <div class="">
      <p><%= freq.friend.name %></p>
      <p><%= freq.request_message %></p>
      <p><%= freq.status %></p>

      <%= link_to "Cancel friend request", cancel_freq_path(freq: freq),
        method: :post, class: "button is_link" %>
    </div>
  <% end %>
  <div><%= pp @current_user.freqs.all%></div>
  <p class="">
  Cancelled friend requests:
  </p>

  <% @current_user.freqs.where(status: :cancelled).each do |freq| %>

    <p>From: <%= freq.user.name %></p>
    <p>To:<%= freq.friend.name %></p>
    <p>Req msg:<%= freq.request_message %></p>
    <p><%= freq.status %></p>

  <% end %>
  <p class="">
  Denied friend requests:
  </p>
  <% @current_user.freqs.where(status: :denied).each do |freq| %>
    <p>From: <%= freq.user.name %></p>
    <p>To:<%= freq.friend.name %></p>
    <p>Req msg:<%= freq.request_message %></p>
    <p><%= freq.status %></p>
  <% end %>

<% end %>


