<div class="navbar p-2 is-primary">
  <div class="navbar-brand">
    fbook
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <%= link_to "Sign up", help_path, class: "navbar-item button is-link" %>
      <%= link_to "Log in", help_path, class: "navbar-item button is-info" %>
      <%= link_to "Log out", help_path, class: "navbar-item button is-success" %>
      <%= link_to "Help", help_path, class: "navbar-item button is-warning" %>
      <%= link_to "Help", help_path, class: "navbar-item button is-danger" %>


    </div>
  </div>
</div>
