<!DOCTYPE html>
<html>
  <head>
    <title>Fbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= render 'shared/flash' %>

    <%= render 'shared/admin_session_tools' %>

    <!-- Main Body -->
    <% if logged_in? %> 
      <%= render 'layouts/home_logged_in' %>
      <% else %>
      <%= render 'layouts/home_not_logged_in' %>
    <% end %>

  </body>
</html>
