<!DOCTYPE html>
<html>
  <head>
    <title>Fbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <!-- Flash -->
    <% if flash.any? %>
      <% flash.each do |msg_type,msg| %>
        <%= content_tag :div, class: "message is-#{msg_type}" do %>
          <%= content_tag :div, class: "message-header " do %>
            <%= "Flash: #{msg_type} #{msg}" %>
          <% end %>
        <% end %>
      <% end %>

    <% end %>

    <!-- Dev Controls -->
    <aside class="is-pulled-left">
      <div>
        <strong>Dev controls:</strong>
        <br>
        <strong>Log in as:</strong>
        <% User.first(5).each do |user| %>
          <p><%= link_to user.name, admin_login_path(id: user.id), method: :post %></p>
        <% end %>
      </div>
    </aside>

    <!-- Session info -->
    <aside class="is-pulled-right">
      <div>
        <strong>Session:</strong>
        <% if logged_in? %>
          <p><%= @current_user.name %></p>
          <p><%= @current_user.email %></p>
          <p><%= @current_user %></p>
        <% else %>
          <p>(nobody logged in)</p>
        <% end %>
      </div>

      <div>
        <strong>Params:</strong>
        <% params.each do |k,v| %>
          <p><%= "#{k} => #{v}" %></p>
        <% end %>
        <br> <br>
      </div>
      <div>
        <strong>debug(params):</strong>

        <%= debug(params) %>
      </div>
    </aside>

    <!-- Main Body -->
    <div class="main-body container">
      <%= render 'users/freqs' %>
      <%= yield %>
    </div>
    <%# maybe delete this notification or improve it idk 
      <div class="notification is-invisible">
    <button class="delete:"></button>
    <p>hfkdslfhjklasdfkls</p>
    </div>%>

  </body>
</html>
