<!DOCTYPE html>
<html>
  <head>
    <title>Fbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |msg_type,msg| %>
      <%= content_tag(:div, "Flash: #{msg_type} #{msg}", class:"message") %>      
    <% end %>
    <%= yield %>
    <aside class="is-pulled-right">
      <strong>Params:</strong>
      <% params.each do |k,v| %>


        <p><%= "#{k} => #{v}" %></p>
      <% end %>
      <br> <br>
      <strong>debug(params):</strong>

      <%= debug(params) %>

    </aside>
    <%# maybe delete this notification or improve it idk 
    <div class="notification is-invisible">
      <button class="delete:"></button>
      <p>hfkdslfhjklasdfkls</p>
      </div>%>

  </body>
</html>
